---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="経歴"
  description="hoshiの経歴"
  updatedDate={new Date("February 20 2023")}
>
  <p>
    hoshi/柴崎星汰の経歴です。<br />
    全体を通すと、24歳にあたる2021年まではスタートアップやフリーランスとしてのキャリアを重視していましたが、ある程度の結果が出たことと、COVID-19の影響で事業が大きく変化したことで、以降は学位取得を主眼に、並行して個人事業としての開発を継続しています。
  </p>

  <h3>学歴</h3>

  <p>
    2015年3月: 大阪桐蔭高等学校卒業<br />
    2016年4月: 立命館大学 経営学部 国際経営学科入学<br />
    2019年4月: 起業のため休学<br />
    2021年4月: 復学<br />
    2022年4月: 独立開業のため休学<br />
    2023年4月: 復学 <br />
    2025年3月: 卒業予定
  </p>

  <h3>職歴</h3>

  <p>
    2019年6月~2020年3月: 合同会社ネコノテモカリタイ エンジニアリーダー<br />
    2019年11月~2020年3月: 株式会社AME 執行役員<br />
    2020年5月~2023年3月: 株式会社EightGood エンジニアリーダー<br />
    2020年11月~2021年1月: 株式会社patternstorage プログラマー<br />
    2020年3月~: 株式会社わっしょい様より受託案件 <br />
    2023年2月: 個人事業主としてエスイーアイの屋号で開業 <br />
    2023年3月~2023年7月: 株式会社ティンバーズ様より受託案件 <br />
    2023年9月~: 福井工業大学様より受託案件
  </p>
</Layout>
